resources/jaxb/samples/ubl/cd-UBL-1.0/xsd/maindoc/UBL-OrderResponse-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Universal Business Language (UBL) Schema 1.0

  Copyright (C) OASIS Open (2004). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)


  Document Type:     OrderResponse
  Generated On:      Tue Apr 27 11:33:40 2004
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:oasis:names:tc:ubl:OrderResponse:1:0"
    xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0"
    xmlns:cbc="urn:oasis:names:tc:ubl:CommonBasicComponents:1:0"
    xmlns:cac="urn:oasis:names:tc:ubl:CommonAggregateComponents:1:0"
    xmlns:udt="urn:oasis:names:tc:ubl:UnspecializedDatatypes:1:0"
    xmlns:sdt="urn:oasis:names:tc:ubl:SpecializedDatatypes:1:0"
    xmlns:stat="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0"
    xmlns:cur="urn:oasis:names:tc:ubl:codelist:CurrencyCode:1:0"
    targetNamespace="urn:oasis:names:tc:ubl:OrderResponse:1:0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1:0">
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0" schemaLocation="../common/UBL-CoreComponentParameters-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonBasicComponents:1:0" schemaLocation="../common/UBL-CommonBasicComponents-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonAggregateComponents:1:0" schemaLocation="../common/UBL-CommonAggregateComponents-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:UnspecializedDatatypes:1:0" schemaLocation="../common/UBL-UnspecializedDatatypes-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:SpecializedDatatypes:1:0" schemaLocation="../common/UBL-SpecializedDatatypes-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0" schemaLocation="../codelist/UBL-CodeList-DocumentStatusCode-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:CurrencyCode:1:0" schemaLocation="../codelist/UBL-CodeList-CurrencyCode-1.0.xsd"/>
  <xsd:element name="OrderResponse" type="OrderResponseType">
    <xsd:annotation>
      <xsd:documentation>This element MUST be conveyed as the root element in any instance document based on this Schema expression</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="OrderResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>ABIE</ccts:ComponentType>
          <ccts:DictionaryEntryName>Order Response. Details</ccts:DictionaryEntryName>
          <ccts:Definition>the document responding to the Buyer to indicate detailed responses against a single Order.</ccts:Definition>
          <ccts:ObjectClass>Order Response</ccts:ObjectClass>
          <ccts:AlternativeBusinessTerms>Order Acknowledgement, PO Response</ccts:AlternativeBusinessTerms>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BuyersID" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Buyers_ Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>a unique identification assigned to the OrderResponse in respect to the Buyer party</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Buyers</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SellersID" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Sellers_ Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>the identification given to an OrderResponse by the seller.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Sellers</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:CopyIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Copy. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether a document is a copy (true) or not (false)</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Copy</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GUID" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Globally Unique_ Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>a computer generated unique identifier for the document, which is guaranteed to be unique</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Globally Unique</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:IssueDate" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Issue Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>a date (and potentially time) stamp denoting when the Order Response was issued.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Issue Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
              <ccts:DataType>Date_Date Time. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentStatusCode" type="stat:DocumentStatusCodeType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Document Status. Document Status_ Code</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies the status of the document with regard to its original state.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Document Status</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Document Status_ Code. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:Note" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Note. Text</ccts:DictionaryEntryName>
              <ccts:Definition>contains any free form text pertinent to the entire document or to the document message itself. This element may contain notes or any other similar information that is not contained explicitly in another structure.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Note</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransactionCurrencyCode" type="cur:CurrencyCodeType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Transaction Currency. Currency_ Code</ccts:DictionaryEntryName>
              <ccts:Definition>the default currency of the Responded Order transaction, which will be used for Invoicing.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Transaction Currency</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Currency_ Code. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PricingCurrencyCode" type="cur:CurrencyCodeType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Pricing Currency. Currency_ Code</ccts:DictionaryEntryName>
              <ccts:Definition>the currency in which all pricing on the transaction will be specified.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Pricing Currency</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Currency_ Code. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="EarliestDate" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Earliest Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>the starting date on or after which Responded Order should be considered valid</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Earliest Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
              <ccts:DataType>Date_Date Time. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:ExpiryDate" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Expiry Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>the date on or after which Responded Order should be cancelled.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Expiry Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
              <ccts:DataType>Date_Date Time. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="ValidityDurationMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Validity Duration. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>the period for which the Responded Order is valid.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Validity Duration</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:TaxTotalAmount" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Tax Total. UBL_ Amount</ccts:DictionaryEntryName>
              <ccts:Definition>the total tax amount for the Responded Order.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Tax Total</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
              <ccts:DataType>Amount. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:LineExtensionTotalAmount" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Line_ Extension Total. UBL_ Amount</ccts:DictionaryEntryName>
              <ccts:Definition>the total of line item extension amounts for the entire Responded Order, but not adjusted by any payment settlement discount or taxation.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Line</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Extension Total</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
              <ccts:DataType>Amount. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="TotalPackagesCountQuantity" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Total_ Packages Count. Quantity</ccts:DictionaryEntryName>
              <ccts:Definition>the count of the total number of packages contained in the Responded Order.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Total</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Packages Count</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
              <ccts:DataType>Quantity. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:GrossWeightMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Gross_ Weight. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>the total gross weight of the Responded Order. (goods plus packaging plus transport equipment)</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Gross</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:NetWeightMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Net_ Weight. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>the total net weight of the Responded Order. (goods plus packaging)</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Net</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:NetNetWeightMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Net Net_ Weight. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>the weight (mass) of the goods themselves without any packing.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Net Net</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:GrossVolumeMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Gross_ Volume. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>the total volume of the goods plus packaging on the Responded Order.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Gross</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Volume</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:NetVolumeMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Net_ Volume. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>the total volume of the Responded Order. (goods less packaging)</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Net</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Volume</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="LineItemCountNumeric" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. LineItem Count. Numeric</ccts:DictionaryEntryName>
              <ccts:Definition>a count of the number of Line Items on the Responded Order.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>LineItem Count</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
              <ccts:DataType>Numeric. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:OrderReference" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Order Reference</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order Response with one or more Orders it refers to.</ccts:Definition>
              <ccts:Cardinality>1..n</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Order Reference</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Order Reference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:BuyerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Buyer Party</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with information about the buyer involved in the transaction.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Buyer Party</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Buyer Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:SellerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Seller Party</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with information about the seller involved in the transaction.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Seller Party</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Seller Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="OriginatorParty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Originator_ Party. Party</ccts:DictionaryEntryName>
              <ccts:Definition>associates the order response with information about the originator of the transaction.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Originator</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Party</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="FreightForwarderParty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Freight Forwarder_ Party. Party</ccts:DictionaryEntryName>
              <ccts:Definition>associates the order response with information about the freight forwarder involved in the transaction.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Freight Forwarder</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Party</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:Delivery" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Delivery</ccts:DictionaryEntryName>
              <ccts:Definition>associates the order response with a delivery (or deliveries)</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Delivery</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Delivery</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:DeliveryTerms" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Delivery Terms</ccts:DictionaryEntryName>
              <ccts:Definition>associates the order response with delivery terms agreed between seller and buyer with regard to the delivery of goods.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Delivery Terms</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Delivery Terms</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:AllowanceCharge" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Allowance Charge</ccts:DictionaryEntryName>
              <ccts:Definition>associates the order response with one or more pricing components for overall charges allowances etc.</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Allowance Charge</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Allowance Charge</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:SalesConditions" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Sales Conditions</ccts:DictionaryEntryName>
              <ccts:Definition>associates the order response with one sales conditions applying to the whole order response.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Sales Conditions</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Sales Conditions</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="DestinationCountry" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Destination_ Country. Country</ccts:DictionaryEntryName>
              <ccts:Definition>associates the order response with the country to which it is destined, for Customs purposes.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Destination</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Country</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Country</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="RespondedOrderLine" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Responded_ Order Line. Order Line</ccts:DictionaryEntryName>
              <ccts:Definition>associates the order response with one or more Order Lines.  NB these are not ReferenceOrderLines - they describe actual Order Lines.</ccts:Definition>
              <ccts:Cardinality>1..n</ccts:Cardinality>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Responded</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Order Line</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Order Line</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:PaymentMeans" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Response. Payment Means</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order Response with the expected means of payment.</ccts:Definition>
              <ccts:ObjectClass>Order Response</ccts:ObjectClass>
              <ccts:PropertyTerm>Payment Means</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Payment Means</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DestinationCountry" type="cac:CountryType"/>
  <xsd:element name="EarliestDate" type="EarliestDateType"/>
  <xsd:element name="FreightForwarderParty" type="cac:PartyType"/>
  <xsd:element name="LineItemCountNumeric" type="LineItemCountNumericType"/>
  <xsd:element name="OriginatorParty" type="cac:PartyType"/>
  <xsd:element name="PackagesCountQuantity" type="PackagesCountQuantityType"/>
  <xsd:element name="RespondedOrderLine" type="cac:OrderLineType"/>
  <xsd:element name="TotalPackagesCountQuantity" type="PackagesCountQuantityType"/>
  <xsd:element name="ValidityDurationMeasure" type="ValidityDurationMeasureType"/>
  <xsd:complexType name="EarliestDateType">
    <xsd:simpleContent>
      <xsd:extension base="udt:DateType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LineItemCountNumericType">
    <xsd:simpleContent>
      <xsd:extension base="udt:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PackagesCountQuantityType">
    <xsd:simpleContent>
      <xsd:extension base="udt:QuantityType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ValidityDurationMeasureType">
    <xsd:simpleContent>
      <xsd:extension base="udt:MeasureType"/>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
