resources/jaxb/samples/ubl/cd-UBL-1.0/xsd/maindoc/UBL-DespatchAdvice-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Universal Business Language (UBL) Schema 1.0

  Copyright (C) OASIS Open (2004). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)


  Document Type:     DespatchAdvice
  Generated On:      Tue Apr 27 11:30:08 2004
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:oasis:names:tc:ubl:DespatchAdvice:1:0"
    xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0"
    xmlns:cbc="urn:oasis:names:tc:ubl:CommonBasicComponents:1:0"
    xmlns:cac="urn:oasis:names:tc:ubl:CommonAggregateComponents:1:0"
    xmlns:udt="urn:oasis:names:tc:ubl:UnspecializedDatatypes:1:0"
    xmlns:sdt="urn:oasis:names:tc:ubl:SpecializedDatatypes:1:0"
    xmlns:stat="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0"
    targetNamespace="urn:oasis:names:tc:ubl:DespatchAdvice:1:0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1:0">
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0" schemaLocation="../common/UBL-CoreComponentParameters-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonBasicComponents:1:0" schemaLocation="../common/UBL-CommonBasicComponents-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonAggregateComponents:1:0" schemaLocation="../common/UBL-CommonAggregateComponents-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:UnspecializedDatatypes:1:0" schemaLocation="../common/UBL-UnspecializedDatatypes-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:SpecializedDatatypes:1:0" schemaLocation="../common/UBL-SpecializedDatatypes-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0" schemaLocation="../codelist/UBL-CodeList-DocumentStatusCode-1.0.xsd"/>
  <xsd:element name="DespatchAdvice" type="DespatchAdviceType">
    <xsd:annotation>
      <xsd:documentation>This element MUST be conveyed as the root element in any instance document based on this Schema expression</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="DespatchAdviceType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>ABIE</ccts:ComponentType>
          <ccts:DictionaryEntryName>Despatch Advice. Details</ccts:DictionaryEntryName>
          <ccts:Definition>the document that describes the content of goods shipped</ccts:Definition>
          <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
          <ccts:AlternativeBusinessTerms>Ship Note, Packing Slip, Dispatch Advice, Consignment Note</ccts:AlternativeBusinessTerms>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IdentifierType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>holds the unique number that identifies the Despatch Advice, typically according to the seller&apos;s system that generated the Despatch Advice</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:CopyIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Copy. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether a document is a copy (true) or not (false)</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTerm>Copy</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GUID" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Globally Unique_ Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>a computer generated unique identifier for the document, which is guaranteed to be unique</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Globally Unique</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:IssueDate" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Issue Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>the date when the Despatch Advice was issued.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTerm>Issue Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
              <ccts:DataType>Date_Date Time. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentStatusCode" type="stat:DocumentStatusCodeType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Document Status. Document Status_ Code</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies the status of the document with regard to its original state.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTerm>Document Status</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Document Status_ Code. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DespatchAdviceTypeCode" type="udt:CodeType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Despatch Advice  Type. Code</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies the type of the Despatch Advice.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTerm>Despatch Advice  Type</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Code. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:Note" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Note. Text</ccts:DictionaryEntryName>
              <ccts:Definition>contains any free form text pertinent to the entire Despatch Advice or to the Despatch Advice message itself. This element may contain notes or any other similar information that is not contained explicitly in another structure.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTerm>Note</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text. Type</ccts:DataType>
              <ccts:Examples>&quot;Please send additional copies to accounts payable&quot;</ccts:Examples>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="LineItemCountNumeric" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. LineItem Count. Numeric</ccts:DictionaryEntryName>
              <ccts:Definition>the number of line items</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTerm>LineItem Count</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
              <ccts:DataType>Numeric. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:OrderReference" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Order Reference</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies one or more Orders for the Despatch Advice</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTerm>Order Reference</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Order Reference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:BuyerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Buyer Party</ccts:DictionaryEntryName>
              <ccts:Definition>associates the despatch advice with information about the buyer involved in the transaction.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTerm>Buyer Party</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Buyer Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:SellerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Seller Party</ccts:DictionaryEntryName>
              <ccts:Definition>associates the despatch advice with information about the seller involved in the transaction.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTerm>Seller Party</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Seller Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="FreightForwarderParty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Freight Forwarder_ Party. Party</ccts:DictionaryEntryName>
              <ccts:Definition>associates the despatch advice with information about the freight forwarder involved in the transaction.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Freight Forwarder</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Party</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:Delivery" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Delivery</ccts:DictionaryEntryName>
              <ccts:Definition>associates the despatch advice with a delivery  (or deliveries).</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTerm>Delivery</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Delivery</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:DeliveryTerms" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Delivery Terms</ccts:DictionaryEntryName>
              <ccts:Definition>associates the despatch advice with the terms agreed between seller and buyer with regard to the delivery of goods.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTerm>Delivery Terms</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Delivery Terms</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="DespatchedTransportHandlingUnit" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Despatched_ Transport Handling Unit. Transport Handling Unit</ccts:DictionaryEntryName>
              <ccts:Definition>associates the despatch advice with zero or more transport handling units (THU). The advice may be organised in this way with despatch &apos;lines&apos; within each THU.</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Despatched</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Transport Handling Unit</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Transport Handling Unit</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="ActualShipment" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Actual_ Shipment. Shipment</ccts:DictionaryEntryName>
              <ccts:Definition>associates the despatch advice with actual shipment detail. (Note that this relationship comes into play when the transaction has moved from the order state to the delivery state.)</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Actual</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Shipment</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Shipment</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:DespatchLine" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Despatch Advice. Despatch Line</ccts:DictionaryEntryName>
              <ccts:Definition>despatch &apos;line(s)&apos;, annotated to show which transport handling units (THU) each line is within. If THUs are not used, there is just a series of despatch &apos;lines&apos; with no THU annotation.</ccts:Definition>
              <ccts:Cardinality>1..n</ccts:Cardinality>
              <ccts:ObjectClass>Despatch Advice</ccts:ObjectClass>
              <ccts:PropertyTerm>Despatch Line</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Despatch Line</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ActualShipment" type="cac:ShipmentType"/>
  <xsd:element name="DespatchedTransportHandlingUnit" type="cac:TransportHandlingUnitType"/>
  <xsd:element name="FreightForwarderParty" type="cac:PartyType"/>
  <xsd:element name="LineItemCountNumeric" type="LineItemCountNumericType"/>
  <xsd:complexType name="LineItemCountNumericType">
    <xsd:simpleContent>
      <xsd:extension base="udt:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
