resources/jaxb/samples/namespace-prefix/foo.xsd

<?xml version="1.0" encoding="UTF-8" ?> 

<!--
 Copyright 2004 Sun Microsystems, Inc. All rights reserved.
 SUN PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.example.com/foo"
        targetNamespace="http://www.example.com/foo">

	<xs:element name="foo1" type="fooType" />
	<xs:element name="foo2" type="xs:QName" />
	
	<xs:complexType name="fooType">
		<xs:sequence>
			<xs:any maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>