trunk/resources/jaxb/samples/ubl/cd-UBL-1.0/xsd/common/UBL-UnspecializedDatatypes-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Universal Business Language (UBL) Schema 1.0

  Copyright (C) OASIS Open (2004). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)


  Document Type:     UnspecializedDatatypes
  Generated On:      Tue Apr 27 11:29:30 2004
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:oasis:names:tc:ubl:UnspecializedDatatypes:1:0"
    xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0"
    xmlns:cct="urn:oasis:names:tc:ubl:CoreComponentTypes:1:0"
    targetNamespace="urn:oasis:names:tc:ubl:UnspecializedDatatypes:1:0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1:0">
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0" schemaLocation="UBL-CoreComponentParameters-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentTypes:1:0" schemaLocation="UBL-CoreComponentTypes-1.0.xsd"/>
  <xsd:complexType name="AmountType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Amount. Type</ccts:DictionaryEntryName>
          <ccts:Definition>A number of monetary units specified in a currency where the unit of the currency is explicit or implied.</ccts:Definition>
          <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="cct:AmountType">
        <xsd:attribute name="amountCurrencyID" type="xsd:normalizedString" use="required"/>
        <xsd:attribute name="amountCurrencyCodeListVersionID" type="xsd:normalizedString" use="optional"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="BinaryObjectType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Binary Object. Type</ccts:DictionaryEntryName>
          <ccts:Definition>A set of finite-length sequences of binary octets.</ccts:Definition>
          <ccts:RepresentationTerm>Binary Object</ccts:RepresentationTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="cct:BinaryObjectType">
        <xsd:attribute name="characterSetCode" type="xsd:normalizedString" use="optional"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Code. Type</ccts:DictionaryEntryName>
          <ccts:Definition>A character string (letters, figures or symbols) that for brevity and/or language independence may be used to represent or replace a definitive value or text of an Attribute together with relevant supplementary information. Date Time. Type Identifier. Ty</ccts:Definition>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="cct:CodeType">
        <xsd:attribute name="name" type="xsd:string" use="optional"/>
        <xsd:attribute name="codeListID" type="xsd:normalizedString" use="optional"/>
        <xsd:attribute name="codeListAgencyID" type="xsd:normalizedString" use="optional"/>
        <xsd:attribute name="codeListAgencyName" type="xsd:string" use="optional"/>
        <xsd:attribute name="codeListName" type="xsd:string" use="optional"/>
        <xsd:attribute name="codeListVersionID" type="xsd:normalizedString" use="optional"/>
        <xsd:attribute name="codeListURI" type="xsd:anyURI" use="optional"/>
        <xsd:attribute name="codeListSchemeURI" type="xsd:anyURI" use="optional"/>
        <xsd:attribute name="languageID" type="xsd:language" use="optional"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DateTimeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Date Time. Type</ccts:DictionaryEntryName>
          <ccts:Definition>A particular point in the progression of time together with the relevant supplementary information.</ccts:Definition>
          <ccts:RepresentationTerm>Date Time</ccts:RepresentationTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="cct:DateTimeType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Date. Type</ccts:DictionaryEntryName>
          <ccts:Definition>A particular point in the progression of time together with the relevant supplementary information.</ccts:Definition>
          <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
          <ccts:DataType>Date Time. Type</ccts:DataType>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:date"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="GraphicType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Graphic. Type</ccts:DictionaryEntryName>
          <ccts:Definition>A set of finite-length sequences of binary octets.</ccts:Definition>
          <ccts:RepresentationTerm>Graphic</ccts:RepresentationTerm>
          <ccts:DataType>Binary Object. Type</ccts:DataType>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="cct:BinaryObjectType">
        <xsd:attribute name="characterSetCode" type="xsd:normalizedString" use="optional"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="IdentifierType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Identifier. Type</ccts:DictionaryEntryName>
          <ccts:Definition>A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.</ccts:Definition>
          <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="cct:IdentifierType">
        <xsd:attribute name="identificationSchemeID" type="xsd:normalizedString" use="optional"/>
        <xsd:attribute name="identificationSchemeAgencyID" type="xsd:normalizedString" use="optional"/>
        <xsd:attribute name="identificationSchemeVersionID" type="xsd:normalizedString" use="optional"/>
        <xsd:attribute name="identificationSchemeURI" type="xsd:anyURI" use="optional"/>
        <xsd:attribute name="identificationSchemeAgencyName" type="xsd:string" use="optional"/>
        <xsd:attribute name="identificationSchemeName" type="xsd:string" use="optional"/>
        <xsd:attribute name="identificationSchemeDataURI" type="xsd:anyURI" use="optional"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="IndicatorType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Indicator. Type</ccts:DictionaryEntryName>
          <ccts:Definition>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</ccts:Definition>
          <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="cct:IndicatorType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Measure. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="cct:MeasureType">
        <xsd:attribute name="measureUnitCode" type="xsd:normalizedString" use="required"/>
        <xsd:attribute name="measureUnitCodeListVersionID" type="xsd:normalizedString" use="optional"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="NameType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Name. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
          <ccts:DataType>Text. Type</ccts:DataType>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="cct:TextType">
        <xsd:attribute name="languageID" type="xsd:language" use="optional"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="NumericType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Numeric. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="cct:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PercentType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Percent. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Percent</ccts:RepresentationTerm>
          <ccts:DataType>Numeric. Type</ccts:DataType>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="cct:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PictureType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Picture. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Picture</ccts:RepresentationTerm>
          <ccts:DataType>Binary Object. Type</ccts:DataType>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="cct:BinaryObjectType">
        <xsd:attribute name="characterSetCode" type="xsd:normalizedString" use="optional"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="QuantityType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Quantity. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="cct:QuantityType">
        <xsd:attribute name="quantityUnitCode" type="xsd:normalizedString" use="required"/>
        <xsd:attribute name="quantityUnitCodeListID" type="xsd:normalizedString" use="optional"/>
        <xsd:attribute name="quantityUnitCodeListAgencyID" type="xsd:normalizedString" use="optional"/>
        <xsd:attribute name="quantityUnitCodeListAgencyName" type="xsd:string" use="optional"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="RateType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Rate. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Rate</ccts:RepresentationTerm>
          <ccts:DataType>Numeric. Type</ccts:DataType>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="cct:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SoundType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Sound. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Sound</ccts:RepresentationTerm>
          <ccts:DataType>Binary Object. Type</ccts:DataType>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="cct:BinaryObjectType">
        <xsd:attribute name="characterSetCode" type="xsd:normalizedString" use="optional"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Text. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="cct:TextType">
        <xsd:attribute name="languageID" type="xsd:language" use="optional"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TimeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Time. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Time</ccts:RepresentationTerm>
          <ccts:DataType>Date Time. Type</ccts:DataType>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:time"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ValueType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Value. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
          <ccts:DataType>Numeric. Type</ccts:DataType>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="cct:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="VideoType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Video. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Video</ccts:RepresentationTerm>
          <ccts:DataType>Binary Object. Type</ccts:DataType>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="cct:BinaryObjectType">
        <xsd:attribute name="characterSetCode" type="xsd:normalizedString" use="optional"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
