trunk/resources/jaxb/samples/ubl/cd-UBL-1.0/xsd/maindoc/UBL-OrderCancellation-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Universal Business Language (UBL) Schema 1.0

  Copyright (C) OASIS Open (2004). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)


  Document Type:     OrderCancellation
  Generated On:      Tue Apr 27 11:32:38 2004
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:oasis:names:tc:ubl:OrderCancellation:1:0"
    xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0"
    xmlns:cbc="urn:oasis:names:tc:ubl:CommonBasicComponents:1:0"
    xmlns:cac="urn:oasis:names:tc:ubl:CommonAggregateComponents:1:0"
    xmlns:udt="urn:oasis:names:tc:ubl:UnspecializedDatatypes:1:0"
    xmlns:sdt="urn:oasis:names:tc:ubl:SpecializedDatatypes:1:0"
    xmlns:stat="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0"
    targetNamespace="urn:oasis:names:tc:ubl:OrderCancellation:1:0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1:0">
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0" schemaLocation="../common/UBL-CoreComponentParameters-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonBasicComponents:1:0" schemaLocation="../common/UBL-CommonBasicComponents-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonAggregateComponents:1:0" schemaLocation="../common/UBL-CommonAggregateComponents-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:UnspecializedDatatypes:1:0" schemaLocation="../common/UBL-UnspecializedDatatypes-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:SpecializedDatatypes:1:0" schemaLocation="../common/UBL-SpecializedDatatypes-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0" schemaLocation="../codelist/UBL-CodeList-DocumentStatusCode-1.0.xsd"/>
  <xsd:element name="OrderCancellation" type="OrderCancellationType">
    <xsd:annotation>
      <xsd:documentation>This element MUST be conveyed as the root element in any instance document based on this Schema expression</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="OrderCancellationType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>ABIE</ccts:ComponentType>
          <ccts:DictionaryEntryName>Order Cancellation. Details</ccts:DictionaryEntryName>
          <ccts:Definition>the document that advises either party of the cancellation of an Order</ccts:Definition>
          <ccts:ObjectClass>Order Cancellation</ccts:ObjectClass>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IdentifierType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Cancellation. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>the unique number given to the order cancellation by the sender or buyer.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Order Cancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:CopyIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Cancellation. Copy. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether a document is a copy (true) or not (false)</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Cancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Copy</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GUID" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Cancellation. Globally Unique_ Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>a computer generated unique identifier for the document, which is guaranteed to be unique</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Cancellation</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Globally Unique</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="IssueDateTime" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Cancellation. Issue Date Time. Date Time</ccts:DictionaryEntryName>
              <ccts:Definition>a date (and potentially time) stamp denoting when the order cancellation was issued.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Order Cancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Issue Date Time</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date Time</ccts:RepresentationTerm>
              <ccts:DataType>Date Time. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentStatusCode" type="stat:DocumentStatusCodeType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Cancellation. Document Status. Document Status_ Code</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies the status of the document with regard to its original state.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Cancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Document Status</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Document Status_ Code. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:Note" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Cancellation. Note. Text</ccts:DictionaryEntryName>
              <ccts:Definition>a note containing any other relevant information</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Cancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Note</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="CancellationNote" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Cancellation. Cancellation Note. Text</ccts:DictionaryEntryName>
              <ccts:Definition>the reason for cancellation of the referenced order.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Order Cancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Cancellation Note</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="ResponseRequiredIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Cancellation. Response Required. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>indicates whether the sender of the cancellation requires a response to this message by its return (true) or not (false).</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Cancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Response Required</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="AcceptedIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Cancellation. Accepted. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>indicates whether the order cancellation was accepted (if the message is responded to)(true) or not (false)</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order Cancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Accepted</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:OrderReference" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Cancellation. Order Reference</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies one or more Orders to be cancelled</ccts:Definition>
              <ccts:Cardinality>1..n</ccts:Cardinality>
              <ccts:ObjectClass>Order Cancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Order Reference</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Order Reference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:BuyerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Cancellation. Buyer Party</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with information about the buyer involved in the transaction.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Order Cancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Buyer Party</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Buyer Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:SellerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order Cancellation. Seller Party</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with information about the seller involved in the transaction.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Order Cancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Seller Party</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Seller Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AcceptedIndicator" type="AcceptedIndicatorType"/>
  <xsd:element name="CancellationNote" type="CancellationNoteType"/>
  <xsd:element name="IssueDateTime" type="IssueDateTimeType"/>
  <xsd:element name="ResponseRequiredIndicator" type="ResponseRequiredIndicatorType"/>
  <xsd:complexType name="AcceptedIndicatorType">
    <xsd:simpleContent>
      <xsd:extension base="udt:IndicatorType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CancellationNoteType">
    <xsd:simpleContent>
      <xsd:extension base="udt:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="IssueDateTimeType">
    <xsd:simpleContent>
      <xsd:extension base="udt:DateTimeType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ResponseRequiredIndicatorType">
    <xsd:simpleContent>
      <xsd:extension base="udt:IndicatorType"/>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
