trunk/resources/jaxb/samples/ubl/cd-UBL-1.0/xsd/maindoc/UBL-Order-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Universal Business Language (UBL) Schema 1.0

  Copyright (C) OASIS Open (2004). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)


  Document Type:     Order
  Generated On:      Tue Apr 27 11:32:09 2004
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:oasis:names:tc:ubl:Order:1:0"
    xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0"
    xmlns:cbc="urn:oasis:names:tc:ubl:CommonBasicComponents:1:0"
    xmlns:cac="urn:oasis:names:tc:ubl:CommonAggregateComponents:1:0"
    xmlns:res="urn:oasis:names:tc:ubl:codelist:AcknowledgementResponseCode:1:0"
    xmlns:udt="urn:oasis:names:tc:ubl:UnspecializedDatatypes:1:0"
    xmlns:sdt="urn:oasis:names:tc:ubl:SpecializedDatatypes:1:0"
    xmlns:cur="urn:oasis:names:tc:ubl:codelist:CurrencyCode:1:0"
    targetNamespace="urn:oasis:names:tc:ubl:Order:1:0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1:0">
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0" schemaLocation="../common/UBL-CoreComponentParameters-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonBasicComponents:1:0" schemaLocation="../common/UBL-CommonBasicComponents-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonAggregateComponents:1:0" schemaLocation="../common/UBL-CommonAggregateComponents-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:AcknowledgementResponseCode:1:0" schemaLocation="../codelist/UBL-CodeList-AcknowledgementResponseCode-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:UnspecializedDatatypes:1:0" schemaLocation="../common/UBL-UnspecializedDatatypes-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:SpecializedDatatypes:1:0" schemaLocation="../common/UBL-SpecializedDatatypes-1.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:CurrencyCode:1:0" schemaLocation="../codelist/UBL-CodeList-CurrencyCode-1.0.xsd"/>
  <xsd:element name="Order" type="OrderType">
    <xsd:annotation>
      <xsd:documentation>This element MUST be conveyed as the root element in any instance document based on this Schema expression</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="OrderType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>ABIE</ccts:ComponentType>
          <ccts:DictionaryEntryName>Order. Details</ccts:DictionaryEntryName>
          <ccts:Definition>a document that contains information directly relating to the economic event of ordering products.</ccts:Definition>
          <ccts:ObjectClass>Order</ccts:ObjectClass>
          <ccts:AlternativeBusinessTerms>Purchase Order</ccts:AlternativeBusinessTerms>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BuyersID" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Buyers_ Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>a unique identification assigned to the Order in respect to the Buyer party</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Buyers</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SellersID" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Sellers_ Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>the identification given to an Order by the seller.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Sellers</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:CopyIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Copy. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether a document is a copy (true) or not (false)</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Copy</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GUID" type="udt:IdentifierType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Globally Unique_ Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>a computer generated unique identifier for the document, which is guaranteed to be unique</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Globally Unique</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:IssueDate" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Issue Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>a date (and potentially time) stamp denoting when the Order was issued.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Issue Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
              <ccts:DataType>Date_Date Time. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:Note" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Note. Text</ccts:DictionaryEntryName>
              <ccts:Definition>contains any free form text pertinent to the entire document or to the document message itself. This element may contain notes or any other similar information that is not contained explicitly in another structure.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Note</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AcknowledgementResponseCode" type="res:AcknowledgementResponseCodeType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Acknowledgement Response. Acknowledgement Response_ Code</ccts:DictionaryEntryName>
              <ccts:Definition>specifies the type of Response for the Order that the Buyer requires from the Seller.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Acknowledgement Response</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Acknowledgement Response_ Code. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransactionCurrencyCode" type="cur:CurrencyCodeType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Transaction Currency. Currency_ Code</ccts:DictionaryEntryName>
              <ccts:Definition>the default currency of the transaction, to be used for Invoicing.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Transaction Currency</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Currency_ Code. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PricingCurrencyCode" type="cur:CurrencyCodeType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Pricing Currency. Currency_ Code</ccts:DictionaryEntryName>
              <ccts:Definition>the currency in which all pricing on the transaction will be specified.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Pricing Currency</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Currency_ Code. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="EarliestDate" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Earliest Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>the starting date on or after which Order should be considered valid</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Earliest Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
              <ccts:DataType>Date_Date Time. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:ExpiryDate" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Expiry Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>the date on or after which Order should be cancelled if not satisfied.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Expiry Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
              <ccts:DataType>Date_Date Time. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="ValidityDurationMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Validity Duration. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>the period for which the Order is valid.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Validity Duration</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:TaxTotalAmount" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Tax Total. UBL_ Amount</ccts:DictionaryEntryName>
              <ccts:Definition>the total tax amount to be paid for the Order.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Tax Total</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
              <ccts:DataType>Amount. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:LineExtensionTotalAmount" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Line_ Extension Total. UBL_ Amount</ccts:DictionaryEntryName>
              <ccts:Definition>the total of line item extension amounts for the entire Order, but not adjusted by any payment settlement discount or taxation.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Line</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Extension Total</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
              <ccts:DataType>Amount. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="TotalPackagesQuantity" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Total_ Packages Quantity. Quantity</ccts:DictionaryEntryName>
              <ccts:Definition>the count of the total number of packages contained in the Order.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Total</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Packages Quantity</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
              <ccts:DataType>Quantity. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:GrossWeightMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Gross_ Weight. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>the total gross weight of the order. (goods plus packaging plus transport equipment)</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Gross</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:NetWeightMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Net_ Weight. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>the total net weight of the order. (goods plus packaging)</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Net</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:NetNetWeightMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Net Net_ Weight. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>the weight (mass) of the goods themselves without any packing.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Net Net</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:GrossVolumeMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Gross_ Volume. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>the total volume of the goods plus packaging on the Order.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Gross</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Volume</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cbc:NetVolumeMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Net_ Volume. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>the total volume of the Order. (goods less packaging)</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Net</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Volume</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="LineItemCountNumeric" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. LineItem Count. Numeric</ccts:DictionaryEntryName>
              <ccts:Definition>the number of line items</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>LineItem Count</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
              <ccts:DataType>Numeric. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="ContractDocumentReference" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Contract_ Document Reference. Document Reference</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with a previously agreed Contract.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Contract</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="QuoteDocumentReference" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Quote_ Document Reference. Document Reference</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with a prior quote.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Quote</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="AdditionalDocumentReference" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Additional_ Document Reference. Document Reference</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with one or more other identification means</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Additional</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:BuyerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Buyer Party</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with information about the buyer involved in the transaction.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Buyer Party</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Buyer Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:SellerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Seller Party</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with information about the seller involved in the transaction.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Seller Party</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Seller Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="OriginatorParty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Originator_ Party. Party</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with information about the originator of the transaction.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Originator</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Party</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="FreightForwarderParty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Freight Forwarder_ Party. Party</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with information about the freight forwarder involved in the transaction.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Freight Forwarder</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Party</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
              <ccts:AlternativeBusinessTerms>Carrier</ccts:AlternativeBusinessTerms>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:Delivery" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Delivery</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with a delivery  (or deliveries)</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Delivery</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Delivery</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:DeliveryTerms" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Delivery Terms</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with the delivery terms agreed between seller and buyer with regard to the delivery of goods.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Delivery Terms</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Delivery Terms</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:AllowanceCharge" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Allowance Charge</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with one or more pricing components for overall charges allowances etc.</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Allowance Charge</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Allowance Charge</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:SalesConditions" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Sales Conditions</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with a sales condition applying to the whole order.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Sales Conditions</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Sales Conditions</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="DestinationCountry" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Destination_ Country. Country</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with the country of destination (for Customs purposes).</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Destination</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Country</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Country</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:OrderLine" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Order Line</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with one or more Line items.</ccts:Definition>
              <ccts:Cardinality>1..n</ccts:Cardinality>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Order Line</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Order Line</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cac:PaymentMeans" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Order. Payment Means</ccts:DictionaryEntryName>
              <ccts:Definition>associates the Order with the expected means of payment.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Payment Means</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Payment Means</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AdditionalDocumentReference" type="cac:DocumentReferenceType"/>
  <xsd:element name="ContractDocumentReference" type="cac:DocumentReferenceType"/>
  <xsd:element name="DestinationCountry" type="cac:CountryType"/>
  <xsd:element name="EarliestDate" type="EarliestDateType"/>
  <xsd:element name="FreightForwarderParty" type="cac:PartyType"/>
  <xsd:element name="LineItemCountNumeric" type="LineItemCountNumericType"/>
  <xsd:element name="OriginatorParty" type="cac:PartyType"/>
  <xsd:element name="PackagesQuantity" type="PackagesQuantityType"/>
  <xsd:element name="QuoteDocumentReference" type="cac:DocumentReferenceType"/>
  <xsd:element name="TotalPackagesQuantity" type="PackagesQuantityType"/>
  <xsd:element name="ValidityDurationMeasure" type="ValidityDurationMeasureType"/>
  <xsd:complexType name="EarliestDateType">
    <xsd:simpleContent>
      <xsd:extension base="udt:DateType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LineItemCountNumericType">
    <xsd:simpleContent>
      <xsd:extension base="udt:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PackagesQuantityType">
    <xsd:simpleContent>
      <xsd:extension base="udt:QuantityType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ValidityDurationMeasureType">
    <xsd:simpleContent>
      <xsd:extension base="udt:MeasureType"/>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
