resources/jaxb/samples/ubl/cd-UBL-1.0/xsd/codelist/UBL-CodeList-PaymentMeansCode-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Universal Business Language (UBL) Schema 1.0

  Copyright (C) OASIS Open (2004). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)


  Document Type:     PaymentMeansCode
  Generated On:      Tue Apr 27 11:28:35 2004
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:oasis:names:tc:ubl:codelist:PaymentMeansCode:1:0"
    xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0"
    targetNamespace="urn:oasis:names:tc:ubl:codelist:PaymentMeansCode:1:0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1:0">
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0" schemaLocation="../common/UBL-CoreComponentParameters-1.0.xsd"/>
  <xsd:simpleType name="PaymentMeansCodeContentType">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Instrument not defined</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Automated clearing house credit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Automated clearing house debit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH demand debit reversal</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH demand credit reversal</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="6">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH demand credit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="7">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH demand debit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="8">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Hold</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="9">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>National or regional clearing</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="10">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>In cash</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="11">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH savings credit reversal</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="12">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH savings debit reversal</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="13">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH savings credit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="14">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH savings debit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="15">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Bookentry credit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="16">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Bookentry debit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="17">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH demand cash concentration/disbursement (CCD) credit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="18">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH demand cash concentration/disbursement (CCD) debit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="19">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH demand corporate trade payment (CTP) credit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="20">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Cheque</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="21">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Banker&apos;s draft</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="22">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Certified banker&apos;s draft</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="23">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Bank cheque (issued by a banking or similar establishment)</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="24">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Bill of exchange awaiting acceptance</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="25">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Certified cheque</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="26">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Local cheque</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="27">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH demand corporate trade payment (CTP) debit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="28">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH demand corporate trade exchange (CTX) credit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="29">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH demand corporate trade exchange (CTX) debit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="30">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Credit transfer</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="31">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Debit transfer</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="32">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH demand cash concentration/disbursement plus (CCD+) credit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="33">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH demand cash concentration/disbursement plus (CCD+) debit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="34">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH prearranged payment and deposit (PPD)</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="35">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH savings cash concentration/disbursement (CCD) credit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="36">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH savings cash concentration/disbursement (CCD) debit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="37">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH savings corporate trade payment (CTP) credit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="38">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH savings corporate trade payment (CTP) debit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="39">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH savings corporate trade exchange (CTX) credit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="40">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH savings corporate trade exchange (CTX) debit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="41">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH savings cash concentration/disbursement plus (CCD+) credit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="42">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Payment to bank account</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="43">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>ACH savings cash concentration/disbursement plus (CCD+) debit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="44">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Accepted bill of exchange</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="45">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Referenced home-banking credit transfer</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="46">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Interbank debit transfer</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="47">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Home-banking debit transfer</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="48">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Bank card</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="49">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Direct debit</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="50">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Payment by postgiro</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="51">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>FR, norme 6 97-Telereglement CFONB (French Organisation for Banking Standards)  - Option A</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="52">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Urgent commercial payment</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="53">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Urgent Treasury Payment</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="60">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Promissory note</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="61">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Promissory note signed by the debtor</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="62">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Promissory note signed by the debtor and endorsed by a bank</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="63">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Promissory note signed by the debtor and endorsed by a third party</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="64">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Promissory note signed by a bank</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="65">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Promissory note signed by a bank and endorsed by another bank</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="66">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Promissory note signed by a third party</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="67">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Promissory note signed by a third party and endorsed by a bank</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="70">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Bill drawn by the creditor on the debtor</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="74">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Bill drawn by the creditor on a bank</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="75">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Bill drawn by the creditor, endorsed by another bank</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="76">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Bill drawn by the creditor on a bank and endorsed by a third party</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="77">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Bill drawn by the creditor on a third party</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="78">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Bill drawn by creditor on third party, accepted and endorsed by bank</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="91">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Not transferable banker&apos;s draft</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="92">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Not transferable local cheque</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="93">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Reference giro</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="94">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Urgent giro</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="95">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Free format giro</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="96">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Requested method for payment was not used</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="97">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Clearing between partners</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ZZZ">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Mutually defined</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PaymentMeansCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Payment Means_ Code. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:DataTypeQualifier>Payment Means</ccts:DataTypeQualifier>
          <ccts:DataType>Code. Type</ccts:DataType>
        </ccts:Component>
        <ccts:Instance>
          <ccts:CodeListID>UN/ECE 4461</ccts:CodeListID>
          <ccts:CodeListAgencyID>6</ccts:CodeListAgencyID>
          <ccts:CodeListAgencyName>United Nations Economic Commission for Europe</ccts:CodeListAgencyName>
          <ccts:CodeListName>Payment Means</ccts:CodeListName>
          <ccts:CodeListVersionID>D03A</ccts:CodeListVersionID>
          <ccts:CodeListUniformResourceID>http://www.unece.org/trade/untdid/d03a/tred/tred4461.htm</ccts:CodeListUniformResourceID>
          <ccts:CodeListSchemeUniformResourceID>urn:oasis:names:tc:ubl:codelist:PaymentMeansCode:1:0</ccts:CodeListSchemeUniformResourceID>
        </ccts:Instance>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="PaymentMeansCodeContentType">
        <xsd:attribute name="name" type="xsd:string" use="optional"/>
        <xsd:attribute name="codeListID" type="xsd:normalizedString" fixed="UN/ECE 4461" use="optional"/>
        <xsd:attribute name="codeListAgencyID" type="xsd:normalizedString" fixed="6" use="optional"/>
        <xsd:attribute name="codeListAgencyName" type="xsd:string" fixed="United Nations Economic Commission for Europe" use="optional"/>
        <xsd:attribute name="codeListName" type="xsd:string" fixed="Payment Means" use="optional"/>
        <xsd:attribute name="codeListVersionID" type="xsd:normalizedString" fixed="D03A" use="optional"/>
        <xsd:attribute name="codeListURI" type="xsd:anyURI" fixed="http://www.unece.org/trade/untdid/d03a/tred/tred4461.htm" use="optional"/>
        <xsd:attribute name="codeListSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:tc:ubl:codelist:PaymentMeansCode:1:0" use="optional"/>
        <xsd:attribute name="languageID" type="xsd:language" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
