resources/jaxb/samples/ubl/cd-UBL-1.0/xsd/codelist/UBL-CodeList-AllowanceChargeReasonCode-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Universal Business Language (UBL) Schema 1.0

  Copyright (C) OASIS Open (2004). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)


  Document Type:     AllowanceChargeReasonCode
  Generated On:      Tue Apr 27 11:27:07 2004
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:oasis:names:tc:ubl:codelist:AllowanceChargeReasonCode:1:0"
    xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0"
    targetNamespace="urn:oasis:names:tc:ubl:codelist:AllowanceChargeReasonCode:1:0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1:0">
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0" schemaLocation="../common/UBL-CoreComponentParameters-1.0.xsd"/>
  <xsd:simpleType name="AllowanceChargeReasonCodeContentType">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Agreed settlement</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Below specification goods</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Damaged goods</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Short delivery</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Price query</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="6">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Proof of delivery required</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="7">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Payment on account</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="8">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Returnable container charge included</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="9">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Invoice error</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="10">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Costs for draft</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="11">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Bank charges</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="12">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Agent commission</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="13">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Counter claim</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="14">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Wrong delivery</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="15">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Goods returned to agent</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="16">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Goods partly returned</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="17">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Transport damage</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="18">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Goods on consignment</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="19">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Trade discount</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="20">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Deduction for late delivery</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="21">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Advertising costs</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="22">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Customs duties</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="23">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Telephone and postal costs</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="24">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Repair costs</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="25">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Attorney fees</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="26">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Taxes</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="27">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Reclaimed deduction</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="28">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>See separate advice</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="29">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Buyer refused to take delivery</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="30">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Direct payment to seller</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="31">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Buyer disagrees with due date</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="32">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Goods not delivered</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="33">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Late delivery</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="34">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Quoted as paid to you</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="35">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Goods returned</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="36">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Invoice not received</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="37">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Credit note to debtor/not to us</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="38">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Deducted bonus</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="39">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Deducted discount</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="40">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Deducted freight costs</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="41">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Deduction against other invoices</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="42">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Credit balance(s)</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="43">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Reason unknown</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="44">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Awaiting message from seller</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="45">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Debit note to seller</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="46">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Discount beyond terms</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="47">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>See buyer&apos;s letter</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="48">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Allowance/charge error</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="49">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Substitute product</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="50">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Terms of sale error</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="51">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Required data missing</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="52">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Wrong invoice</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="53">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Duplicate invoice</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="54">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Weight error</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="55">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Additional charge not authorized</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="56">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Incorrect discount</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="57">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Price change</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="58">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Variation</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="59">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Chargeback</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="60">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Offset</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="61">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Indirect payment</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="62">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Financial reassignment</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="63">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Reinstatement of chargeback/offset</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="64">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Expecting new terms</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="65">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Settlement to agent</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="66">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Cash discount</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="67">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Delcredere costs</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="68">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Early payment allowance adjustment</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="69">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Incorrect due date for monetary amount</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="70">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Wrong monetary amount resulting from incorrect free goods quantity</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="71">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Rack or shelf replenishment service by a supplier</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="72">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Temporary special promotion</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="73">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Difference in tax rate</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="74">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Quantity discount</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="75">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Promotion discount</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="76">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Cancellation deadline passed</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="77">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Pricing discount</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="78">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Volume discount</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="79">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Sundry discount</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="80">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Card holder signature missing</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="81">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Card expiry date missing</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="82">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Card number error</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="83">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Card expired</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="84">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Test card transaction</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="85">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Permission limit exceeded</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="86">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Wrong authorisation code</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="87">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Wrong authorised amount</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="88">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Authorisation failed</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="89">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Card acceptor data error</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ZZZ">
        <xsd:annotation>
          <xsd:documentation>
            <CodeName>Mutually defined</CodeName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AllowanceChargeReasonCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:ComponentType>DT</ccts:ComponentType>
          <ccts:DictionaryEntryName>Allowance Charge Reason_ Code. Type</ccts:DictionaryEntryName>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:DataTypeQualifier>Allowance Charge Reason</ccts:DataTypeQualifier>
          <ccts:DataType>Code. Type</ccts:DataType>
        </ccts:Component>
        <ccts:Instance>
          <ccts:CodeListID>UN/ECE 4465</ccts:CodeListID>
          <ccts:CodeListAgencyID>6</ccts:CodeListAgencyID>
          <ccts:CodeListAgencyName>United Nations Economic Commission for Europe</ccts:CodeListAgencyName>
          <ccts:CodeListName>Adjustment Reason Description</ccts:CodeListName>
          <ccts:CodeListVersionID>D03A</ccts:CodeListVersionID>
          <ccts:CodeListUniformResourceID>http://www.unece.org/trade/untdid/d03a/tred/tred4465.htm</ccts:CodeListUniformResourceID>
          <ccts:CodeListSchemeUniformResourceID>urn:oasis:names:tc:ubl:codelist:AllowanceChargeReasonCode:1:0</ccts:CodeListSchemeUniformResourceID>
        </ccts:Instance>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="AllowanceChargeReasonCodeContentType">
        <xsd:attribute name="name" type="xsd:string" use="optional"/>
        <xsd:attribute name="codeListID" type="xsd:normalizedString" fixed="UN/ECE 4465" use="optional"/>
        <xsd:attribute name="codeListAgencyID" type="xsd:normalizedString" fixed="6" use="optional"/>
        <xsd:attribute name="codeListAgencyName" type="xsd:string" fixed="United Nations Economic Commission for Europe" use="optional"/>
        <xsd:attribute name="codeListName" type="xsd:string" fixed="Adjustment Reason Description" use="optional"/>
        <xsd:attribute name="codeListVersionID" type="xsd:normalizedString" fixed="D03A" use="optional"/>
        <xsd:attribute name="codeListURI" type="xsd:anyURI" fixed="http://www.unece.org/trade/untdid/d03a/tred/tred4465.htm" use="optional"/>
        <xsd:attribute name="codeListSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:tc:ubl:codelist:AllowanceChargeReasonCode:1:0" use="optional"/>
        <xsd:attribute name="languageID" type="xsd:language" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
